<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Driver Logbook{% if title %}: {{ title }}{% endif %}
        </title>
    </head>
    <body>
        <!-- Navigation -->
        <div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
        <!-- Content -->
        <hr/>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <hr/>
        <div>
            <p>Content:</p>
            <p>{% block app_content %}{% endblock %}</p>
        </div>
    </body>
</html>