{% extends "base.html" %}

{% block app_content %}
<h1>Fuel log</h1>
<p><a href="{{ url_for('createFuelLogs') }}">Create</a></p>
<p>
    <table border=1>
        <th>ID</th>
        <th>User-ID</th>
        <th>Distance</th>
        <th>Quantity</th>
        <th>Recorded</th>
        {% for fuelLog in fuelLogs %}
        <tr>
            <td>
                {{ fuelLog.id }}
            </td>
            <td>
                {{ fuelLog.user_id }}
            </td>
            <td>
                {{ fuelLog.distance }}
            </td>
            <td>
                {{ fuelLog.quantity }}
            </td>
            <td>
                {{ fuelLog.recorded }}
            </td>
        </tr>
        {% endfor %}
    </table>
</p>
{% endblock %}