{% extends "base.html.j2" %}

{% block app_content %}
<h1>Register</h1>
<form method="POST" action="">
    {{ form.csrf_token }}
    <p>{{ form.username.label }}<br/>{{ form.username }}</p>
    <p>{{ form.email.label }}<br/>{{ form.email }}</p>
    <p>{{ form.password.label }}<br/>{{ form.password }}</p>
    <p>{{ form.password_confirm.label }}<br/>{{ form.password_confirm }}</p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}